.Blog header{
   margin: 10px 0;
}

.Blog ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 10px;
}

.Blog a {
    padding: 7px 15px;
    text-decoration: none;
    color: #000;
}

.Blog a:hover, .Blog a:active {
    color: rgb(21, 134, 134);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(21, 134, 134, 0.153);
}